.main {
    @extend %margin-bottom-lg;
}

.site-search {
    margin-bottom: $gap * 3;
}

.user-login {
    margin-bottom: $gap * 4;
}

.new-films, .top-week {
    &-title::after {
        position: absolute;
        width: 100%;
        margin: 0.85em 0 0 15px;
        content: "";
        border-bottom: 3px solid rgba($color-accent, 0.7);
    }

    &-row {
        margin-left: -$gap / 2;
        margin-right: -$gap / 2;
        margin-bottom: -$gap;
    }
    &-item {
        padding-right: $gap / 2;
        padding-left: $gap / 2;
        margin-bottom: $gap;

        &:hover h3{
            color: $color-light;
        }

        &__thumbnail {
            margin-bottom: 0;
            
            &:hover{
                border-color: $color-accent;
                background-color: $color-accent;
            }
        }

        &__title {
            @include text-shortener;
            margin: 0;
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
            transition: 0.5s;
        }

        &__image {
            width: 100%;
        }
    }
}

.top-week {
    &-title::before {
        position: absolute;
        content: "";
        width: 30px;
        left: 0;
        margin: 0.25em 0 0 0;
        border-bottom: 3px solid rgba($color-accent, 0.7);
    }
}