.embed-responsive {
    border-radius: 4px 4px 0 0;
    border: 1px solid $color-gray;
    border-bottom: none;
}

.film-info {
    font-size: 1.2em;
    &__well {
        border-radius: 0 0 4px 4px;
        border-color: $color-gray;
        background-color: rgba($color-gray, 0.4);
    }

    &__wrapper {
        white-space: nowrap;

        &:not(:last-of-type) {
            margin-right: 15px;
        }
    }

    &__badge {
        font-size: 0.8em;
    }
}

.film-comment-form__button {
    float: right;
}